* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    width: 1600px;
    height: 919px;
}

main {
    display: inline-block;
}

header {
    box-shadow: 0px 4px 30px -10px #00000040;
    width: 1600px;
    height: 70px;
    left: -3px;
    display: inline-flex;
    justify-content: center;
}

h1 {
    margin-top: 27px;
    margin-right: 870px;
    margin-bottom: 27px;
    font-size: 28px;
    cursor: pointer;
}

.menuNav {
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 20px;
    align-content: flex-end;
    align-items: flex-end;
    position: static;
    text-align: end;
    font-style: normal;
    cursor: pointer;
    overflow: hidden;
}
.menuNav:hover{
    color: #2E245E;
}
.now{
    font-weight: 600;
    color: #292929;

}
.other{
    font-weight: 400;
    color: #242424;
    
}

.cardProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 52px;
    margin-left: 115px;
    width: 968px;
    height: 838px;
    left: 115px;
    top: 122px;
}

.product {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 40%;
    background: #F5F5F5;
}

.product:hover {
    padding: 10px;
    transition: 0.3s;
}

img {
    height: 140px;
    width: 191.81092834472656px;
    left: 52px;
    top: 9px;
    border-radius: 0px;


}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 296px;
    height: 254px;
    background: #FFFFFF;
    height: 254px;
    left: 0px;
    top: 154px;
    padding: 10px;
    border: 2px solid #F5F5F5;
}

span {
    background: #2E245E;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
    gap: 10px;
    width: 70px;
    height: 24px;
    font-size: 12px;

}

.productName {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.productDetails {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.price {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E245E;

}

.addToCart {
    cursor: pointer;
    border: 0;
    bottom: 0;
    background-color: #f5f5f5FF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}

.cartBox {
    position: absolute;
    width: 346px;
    height: 264px;
    left: 1138px;
    top: 122px;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 246px;
    background: #F5F5F5;
    margin-right: 8px;

}

.search {
    border: 0;
    justify-content: center;
    height: 50px;
    width: 96px;
    background: #2E245E;
    color: #FFFFFF;
    margin-left: 8px;
    cursor: pointer;
    padding: 16px;
}

.search:hover {
    border: 1px solid #F5F5F5;
    padding: 16px;
    transition: 0.3s;
}

.textInput {
    height: 16px;
    width: 246px;
    border: 0;
    background: #F5F5F5;
    padding-left: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.shoppingCart {
    background: #F5F5F5;
    height: 264px;
    width: 347px;
    left: 1138px;
    top: 252px;
    padding: 82px, 95px, 82px, 95px;

}

.cartText {
    text-align: center;
    background: #2E245E;
    width: 345px;
    color: #FFFFFF;
    margin-top: 30px;
    height: 50px;
    padding: 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

}
.emptyCart{
    background: #F5F5F5;
    height: 214px;
    width: 347px;
}
h3{
    text-align: center;
    margin-top: 82px;
}
.addToBuy{
    text-align: center;
    margin-top: 10px;
}