@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);;
}
h1{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    padding-left: 118px;
    color: #292929;
}
.navCategorias{
    display: flex;
    padding-right: 14px;
}
.navItens{
    list-style: none;
    margin-right: 22px;
}
.navItens:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.navAcesso{
    text-decoration: none;
    color: #242424;
}
.navAcesso strong{
    font-weight: 600;
    color: #292929;
}
.vitrine{
    margin-top: 52px;
    margin-left: 110px;

}
.listaProdutos{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    height: 408px;
    flex-wrap: wrap;
}
.cardProduto{
    width: 240px;
    margin-bottom: 22px;
    transition: 0.3s;
    border: 3px solid transparent;
}
.cardProduto:hover{
    border-color: #37268C;
}
.cardImg{
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.cardImg img{
    transition: 0.3s;
}
.cardImg img:hover{
    transform: scale(1.1);
}
.cardInformacoes{
    border: 2px solid #F5F5F5;
    height: 236px;
}
.cardCategoria{
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px;
    background-color: #2E245E;
    color: #F5F5F5;
    width: 70px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.cardNomeProduto{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #292929;
}
.cardDescricao{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #242424;
}
.cardPreco{
    margin-top: 20px;
    margin-left: 15px;
    color: #2E245E;
    font-weight: 600;
    font-size: 14px;
}
.cardCarrinho{
    margin-top: 15px;
    margin-left: 9px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    background-color: #fff;
    color: #242424;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
.cardCarrinho:hover{
    border-radius: 5px;
    background-color: #2E245E;
    color: #F5F5F5;
}
aside{
    float: right;
    flex-direction: column;
}
.input{
    margin-right: 4px;
    border: none;
    width: 236px;
    height: 50px;
    background-color: #F5F5F5;
    padding-left: 14px;
    outline: none;
}
.input::placeholder{
    color: #242424;
    font-size: 14px;
}
.botao{
    width: 96px;
    height: 50px;
    background-color: #37268C;
    color: #F5F5F5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.carrinho{
    margin-right: 24px;
}
.carrinhoTitulo{
    margin-top: 30px;
    display: flex;
    background-color: #37268C;
    color: #F5F5F5;
    width: 357px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}
.containerCarrinho{
    background-color: #F5F5F5;
    width: 357px;
    height: 214px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.itemCarrinho{
    font-size: 22px;
    font-weight: 700;
    color: #292929;
}
.adicionarItem{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #242424;
}