* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    width: 1330px;
    height: 760px;
}

main {
    display: flex;
}

header {
    box-shadow: 0px 4px 30px -10px #00000040;
    width: 1330px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
}

h1 {
    margin-top: 27px;
    margin-right: 600px;
    margin-bottom: 27px;
    font-size: 28px;
}

.menuNav {
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 20px;
    align-content: flex-end;
    align-items: flex-end;
    position: static;
    text-align: end;
    font-style: normal;
    cursor: pointer;
}
.menuNav:hover{
    text-decoration: underline #2E245E;
    color: #2E245E;
}
.now{
    font-weight: 600;
    color: #292929;

}
.other{
    font-weight: 400;
    color: #242424;
    
}

.cardProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 52px;
    padding-left: 118px;
    
}

.product {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:296px ;
    width: 296px;
    height: 390px;
    background: #F5F5F5;
    overflow: hidden;
}

.product:hover {
    border: 1px solid #2E245E;
    transition: 0.4s;
}

img {
    height: 140px;
    width: 191px;
    left: 52px;
    transition: 0.5s; 
    overflow: hidden;
}
img:hover{
    transform:scale(1.1) ;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 294px;
    height: 254px;
    background: #FFFFFF;
    padding: 10px;
    border: 2px solid #F5F5F5;
}

.categoria {
    background: #2E245E;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
    gap: 10px;
    width: 70px;
    height: 24px;
    font-size: 12px;

}

.productName {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}

.productDetails {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.price {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #2E245E;

}

.addToCart {
    cursor: pointer;
    background-color: #f5f5f5FF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border: 0;
    height: 20px;

}
.addToCart:hover{
    height: 21px;
    width: 150px;
    border-radius: 2px;
    color: #F5F5F5;
    background-color: #2E245E;
    transform: scale(1.1);
}

.sideMenu {
    justify-content: center;
    width: 346px;
    height: 264px;
    padding-top: 52px;
    margin-right: 115px;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 246px;
    background: #F5F5F5;
    margin-right: 8px;

}

.search {
    border: 0;
    justify-content: center;
    height: 50px;
    width: 96px;
    background: #2E245E;
    color: #FFFFFF;
    margin-left: 8px;
    cursor: pointer;
    padding: 16px;
}

.search:hover {
    border: 1px solid #F5F5F5;
    padding: 16px;
    transition: 0.3s;
}

.textInput {
    height: 16px;
    width: 246px;
    border: 0;
    background: #F5F5F5;
    padding-left: 14px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    outline: none;
}

.shoppingCart {
    background: #F5F5F5;
    height: 264px;
    width: 347px;
    padding: 82px, 95px;
    margin-top: 30px;

}

.cartText {
    text-align: center;
    background: #2E245E;
    color: #FFFFFF;
    width: 345px;
    padding: 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

}
.itensToBuyt{
    display:flex ;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    height: 214px;
    width: 347px;
}
.emptyCart{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.addToBuy{
    
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}